 <div class="row">
	<div class="col-lg-6">
	{{burger_name}}
	</div>

<div class="col-lg-6">
	<button class="btn btn-primary change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Put it back!{{/if}}
	</button>

</div>
</div>
	<br>
<!--	<button class="delete-cat" data-id="{{id}}">
		Delete Cat {{name}}
	</button> -->

